<div class="card">
  <p-table [value]="input" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" >
      <tr>
        <th>Código</th>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Complemento</th>
        <th>Quantidade</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-input >
      <tr>
        <td>{{ input.Filial }}</td>
        <td>{{ input.Produto }}</td>
        <td>{{ input.tipoBaixa }}</td>
        <td>{{ input.Complemento }}</td>
        <td>{{ input.Quantidade }}</td>
        <td><button type="button" pButton pRipple icon="pi pi-trash"  class="p-button-danger"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
