<div class="grid">
  <div class="col-12 ">
    <h2>Baixa Especial de Estoque</h2>
  </div>
  

  <!-- dropdown -->
  <div class="col-2">
    <div class="grid">
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="cities"
          placeholder="Selecione"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="grid">
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="cities"
          placeholder="Selecione"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="grid">
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="cities"
          placeholder="Selecione"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="grid">
      <div class="col-12 py-0">
        <input pInputText type="text" class="col-12" placeholder="Integers" />
      </div>
    </div>
  </div>
</div>
