<div class="grid overflow-x-hidden pb-2">
  <div class="col-12 bg-blue-100 pl-5 mb-4 flex flex-wrap pb-0">
    <h2>Baixa Especial de Estoque</h2>
  </div>
  <div class="grid ml-3 w-screen flex justify-content-evenly mr-2 p-0">
    <div class="col-1 min-w-max w-1rem">
      <div class="grid w-14rem p-0">
        <div class="col-12 py-0 mb-3 ml-2 mr-3">
          <span class="font-semibold -mr-2">Filial*</span>
        </div>
        <div class="col-12 flex justify-content-center p-0">
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12'"
            [panelStyleClass]="'col-12 '"
            [options]="filial"
            optionLabel="nomFil"
            placeholder="Selecione"
            optionValue="nomFil"
            [(ngModel)]="Filial"
            appendTo="body"
            (onChange)="selecionaDesposito()"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-1 min-w-max w-1">
      <div class="grid w-14rem">
        <div class="col-12 p-0 mb-3 ml-2 -mr-3">
          <span class="font-semibold -mr-2">Depósito*</span>
        </div>
        <div class="col-12 p-0 flex justify-content-center">
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12'"
            [panelStyleClass]="'col-12'"
            [options]="depositoFiltrado"
            optionLabel="desDep"
            placeholder="Selecione"
            optionValue="desDep"
            [(ngModel)]="Deposito"
            appendTo="body"
            [disabled]="boolDeposito"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-1 min-w-max w-1">
      <div class="grid w-14rem">
        <div class="col-12 p-0 mb-3 ml-2 -mr-6">
          <span class="font-semibold -mr-2">Tipo de Baixa*</span>
        </div>
        <div class="col-12 p-0">
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12 '"
            [panelStyleClass]="'col-12 '"
            [options]="baixa"
            optionLabel="desDes"
            placeholder="Selecione"
            [(ngModel)]="tipoBaixa"
            optionValue="desDes"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-3 min-w-max">
      <div class="grid">
        <div class="col-12 p-0 mb-3 ml-2 -mr-2">
          <span class="font-semibold -mr-2">Produto*</span>
        </div>
        <div class="col-12 p-0  p-inputgroup">
          <input
            id="disabled-input"
            type="text"
            pInputText
            [disabled]="true"
            class="w-8"
            [(ngModel)]="Produto"
            />
            <button type="button" pButton (click)="selecionaProduto()" icon="pi pi-search"></button>
          </div>
            <p-dialog
            header="Header"
            [(visible)]="visible"
            [style]="{ width: '50vw' }"
            [modal]="true"
          >
            <ng-template pTemplate="header">
              <span class="text-xl font-bold">Selecione um produto</span>
            </ng-template>
            <p-table
              #table
              [value]="produtos"
              selectionMode="single"
              class="overflow-hidden"
              [globalFilterFields]="['desPro']"
              [rows]="9"
              [paginator]="true"
              [(selection)]="Produto"
              (onRowSelect)="visible = false"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="caption">
                <div class="flex">
                  <span class="p-input-icon-left ">
                    <i class="pi pi-search"></i>
                    <input
                    pInputText
                    type="text"
                    #input
                    (input)="
                    table.filterGlobal(
                      $any($event.target).value,
                      'contains'
                      )
                      "
                      placeholder="Pesquisar"
                      />
                    </span>
                    <button
                      pButton
                      label="Limpar Pesquisa"
                      class="p-button-outlined ml-auto"
                      (click)="clearProduto(table, input)"
                    ></button>
                </div>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr [pSelectableRow]="product.desPro">
                  <td>{{ product.desPro }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-dialog>
      </div>
    </div>

    <div class="col-1 min-w-max">
      <div class="grid">
        <div class="col-12 p-0 mb-2 ml-2 flex justify-content-center">
          <span class="font-semibold -mr-2">Quantidade*</span>
        </div>
        <div class="col-12 p-0 flex justify-content-center">
          <p-inputNumber
            class="col-12 h-4rem w-6rem"
            [(ngModel)]="Quantidade"
          ></p-inputNumber>
        </div>
      </div>
    </div>

    <div
      class="col-1 flex align-items-center justify-content-center mt-4 mr-3 min-w-max"
    >
      <div class="grid">
        <div class="col-12 p-0">
          <p-button label="Incluir" (onClick)="incluir()"></p-button>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 ml-3">
        <span class="font-semibold">Complemento</span>
      </div>
      <div class="col-12 w-screen pr-5 pl-3">
        <input
          type="text"
          pInputText
          class="w-full"
          [(ngModel)]="Complemento"
        />
      </div>
    </div>
  </div>

  <p-toast></p-toast>
</div>
