<div class="grid overflow-x-hidden pb-2">
  <div class="col-12 bg-blue-100 pl-5 mb-4 flex flex-wrap pb-0">
    <h2>Baixa Especial de Estoque</h2>
  </div>
  <div class="grid ml-3 w-screen flex justify-content-evenly mr-2 p-0">
    <div class="col-1 min-w-max w-1rem">
      <div class="grid w-14rem p-0">
        <div class="col-12 py-0 mb-3 ml-2 mr-3">
          <span class="font-semibold -mr-2">Filial*</span>
        </div>
        <div class="col-12  flex justify-content-center p-0">
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12'"
            [panelStyleClass]="'col-12 '"
            [options]="filial"
            optionLabel="nomFil"
            placeholder="Selecione"
            optionValue="nomFil"
            [(ngModel)]="Filial"
            appendTo="body"
            (onChange)="selecionaDesposito()"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-1 min-w-max w-1">
      <div class="grid w-14rem">
        <div class="col-12 p-0 mb-3 ml-2 -mr-3">
          <span class="font-semibold -mr-2">Depósito*</span>
        </div>
        <div class="col-12 p-0 flex justify-content-center">
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12'"
            [panelStyleClass]="'col-12'"
            [options]="depositoFiltrado"
            optionLabel="desDep"
            placeholder="Selecione"
            optionValue="desDep"
            [(ngModel)]="Deposito"
            appendTo="body"
            [disabled]="boolDeposito"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-1 min-w-max w-1">
      <div class="grid w-14rem">
        <div class="col-12 p-0 mb-3 ml-2 -mr-6">
          <span class="font-semibold -mr-2">Tipo de Baixa*</span>
        </div>
        <div class="col-12 p-0">
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12 '"
            [panelStyleClass]="'col-12 '"
            [options]="baixa"
            optionLabel="desDes"
            placeholder="Selecione"
            [(ngModel)]="tipoBaixa"
            optionValue="desDes"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-4 min-w-max">
      <div class="grid w-30rem">
        <div class="col-12 p-0 mb-3 ml-2 -mr-2">
          <span class="font-semibold -mr-2">Produto*</span>
        </div>
        <div class="col-12 p-0">
          <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="Produto" />
          <p-dropdown
            class="w-12"
            [styleClass]="'w-12'"
            [panelStyleClass]="'col-12'"
            [options]="produtos"
            optionLabel="desPro"
            placeholder="Selecione"
            [(ngModel)]="Produto"
            optionValue="desPro"
            [filter]="true"
            appendTo="body"
          >
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-1 min-w-max">
      <div class="grid">
        <div class="col-12 p-0 mb-2 ml-2 flex justify-content-center">
          <span class="font-semibold -mr-2">Quantidade*</span>
        </div>
        <div class="col-12 p-0 flex justify-content-center">
          <p-inputNumber
            class="col-12 h-4rem w-6rem"
            [(ngModel)]="Quantidade"
          ></p-inputNumber>
        </div>
      </div>
    </div>

    <div
      class="col-1 flex align-items-center justify-content-center mt-4 mr-3 min-w-max"
    >
      <div class="grid">
        <div class="col-12 p-0">
          <p-button label="Incluir" (onClick)="incluir()"></p-button>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 ml-3">
        <span class="font-semibold">Complemento</span>
      </div>
      <div class="col-12 w-screen pr-5 pl-3">
        <input
          type="text"
          pInputText
          class="w-full"
          [(ngModel)]="Complemento"
        />
      </div>
    </div>
  </div>

  <p-toast></p-toast>
</div>
